<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>admin</title>
</head>
<body>

    <h1 class="adminHeading">welcome the admin panel</h1>

    
    <nav>
        <div class="container main-nav flex">
            <a href="#" class="logo"><img src="{{adminData.brandIconUrl}}" alt=""></a>
            

            <div class="navlinks">
                <ul class="flex">

                    {{#each adminData.links}}
                    
                    <li><a href="{{this.url}}" class="hover-link">{{this.label}}</a></li>

                    {{/each}}

                </ul>
               
            </div>
             <li><a href="/edit/{{adminData._id}}">Update</a></li>
            <li><a href="/delete/{{adminData._id}}">Delete</a></li>
        </div>
        </nav>



        <style>
            .adminHeading{
                text-align: center;
            }
        </style>

        

      

        

</body>
</html>